.box{
    text-align: center;
    height:20px;
    width:20px;
    border:0.5px solid black;
    display:grid;
}

/* .box:hover{
    background-color: yellow;
} */

#container{
    padding:2%;
    margin: auto;
    text-align: center;
    display: grid;
    max-height: 320px;
    max-width: 320px;;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows:  repeat(16, 20px);
    /* border: 2px solid black; */
    /* background-color:pink */
}

#buttondiv{
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
}
